body{
    background-color: rgb(255, 255, 255);
    border-top: 20px double goldenrod;
    border-bottom: 20px double sienna;
}
h1{
    color: rgb(0, 0, 0);
    font-size: 60px;
    text-align: center;
}
p{
    color: blue;
    font-size: 30px;
    text-align: center;
}
img{
    width: 35%;
    margin-left: 610px;
    border: 10px dashed gold;
}